<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>
    <div class="container">
        <div class="column">
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  twitter.com
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://as2.ftcdn.net/v2/jpg/07/06/75/03/1000_F_706750322_BAtZdtytTNli3ZFF7lBK4HnsreSMNOfM.jpg" alt="">
            </div>
            <p>Pink flowers</p>
          </div>
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  twitter.com
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://as2.ftcdn.net/v2/jpg/05/95/47/43/1000_F_595474370_igwu1vkskkROIyY1VbOCXwzSlbPtY4il.jpg" alt="">
            </div>
            <p>Cool image</p>
          </div>
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  twitter.com
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://as1.ftcdn.net/v2/jpg/07/10/16/16/1000_F_710161622_7KjUonoUZDVIbrQ2emFZRVYDdY7KV4ra.jpg" alt="">
            </div>
            <p>Cool image</p>
          </div>
          
        </div>
        <div class="column">
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  twitter.com
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://as1.ftcdn.net/v2/jpg/06/88/54/74/1000_F_688547407_pJ5whuF2GZRIa6AWRAz9W9CoVwIKkNj2.jpg" alt="">
            </div>
            <p>Pink flowers</p>
          </div>
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  twitter.com
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://as2.ftcdn.net/v2/jpg/06/70/93/51/1000_F_670935177_ET4BZEMbCG8L9nFhW3a27rTQwGGGvWeZ.jpg" alt="">
            </div>
            <p>Cool image</p>
          </div>
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  twitter.com
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://as2.ftcdn.net/v2/jpg/07/17/21/01/1000_F_717210102_uEBnGU7YR1NAdhIAKlWbZLXydetZI76T.jpg" alt="">
            </div>
            <p>Cool image</p>
          </div>
        </div>
        <div class="column">
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  twitter.com
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://as1.ftcdn.net/v2/jpg/06/92/90/18/1000_F_692901885_qWxRVNi5EkcqBR7qRKRdcmcuYokYQTyq.jpg" alt="">
            </div>
            <p>Pink flowers</p>
          </div>
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  twitter.com
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://as1.ftcdn.net/v2/jpg/06/00/82/42/1000_F_600824298_0b2vE4zgJbHR20cNyCgtknOBtCu4MDb7.jpg" alt="">
            </div>
            <p>Cool image</p>
          </div>
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  twitter.com
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://as2.ftcdn.net/v2/jpg/06/81/42/31/1000_F_681423107_sRcBrmBWNUdkOe0y88DjagXNoelg9iJx.jpg" alt="">
            </div>
            <p>Cool image</p>
          </div>
        </div>
        <div class="column">
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  twitter.com
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://images.pexels.com/photos/60909/rose-yellow-flower-petals-60909.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
            <p>Cool image</p>
          </div>
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  twitter.com
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://images.pexels.com/photos/4121204/pexels-photo-4121204.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
            <p>Cool image</p>
          </div>
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  twitter.com
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://images.pexels.com/photos/4122767/pexels-photo-4122767.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
            <p>Cool image</p>
          </div>
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  twitter.com
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://images.pexels.com/photos/2626152/pexels-photo-2626152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
            <p>Cool image</p>
          </div>
        </div>
      </div>
</body>
</html>