<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Profile Card</title>
  <link rel="stylesheet" href="/stylesheets/profile.css">
  
</head>
<body>
  <div class="tumblr-card">
    <button class="logout-btn" onclick="window.location.href='/logout'">Logout</button>

    <div class="profile-top">
      <img class="avatar" src="https://i.pinimg.com/736x/a7/76/05/a7760528b63adbb26d34db1f12129c42.jpg" />
      <div>
        <h2 class="name"> <%= user.username %> </h2>
        <h2 class="username">@ <%= user.username %> </h2>
        <p class="bio">lorem7</p>
        <p class="tags">#paint #sky #moon </p>
      </div>
    </div>

    <div class="grid">
      <img src="https://i.pinimg.com/736x/29/8a/ec/298aeccfec6cdc884b696a65f6e3f1be.jpg" />
      <img src="https://i.pinimg.com/736x/a7/76/05/a7760528b63adbb26d34db1f12129c42.jpg" />
      <img src="https://i.pinimg.com/736x/2c/6f/c2/2c6fc24635769f51922d1021fceac898.jpg" />
      <img src="https://i.pinimg.com/736x/19/38/27/1938277c8a9d1d275832b2883db2949d.jpg" />
      <img src="https://i.pinimg.com/736x/95/d2/b4/95d2b4187ff9f60c93f8fc1a4362e237.jpg" />
      <img src="https://i.pinimg.com/736x/fb/19/b4/fb19b486fd632a08289e1daa87274e8f.jpg" />
      <img src="https://i.pinimg.com/736x/29/8a/ec/298aeccfec6cdc884b696a65f6e3f1be.jpg" />
      <img src="https://i.pinimg.com/736x/a7/76/05/a7760528b63adbb26d34db1f12129c42.jpg" />
      <img src="https://i.pinimg.com/736x/2c/6f/c2/2c6fc24635769f51922d1021fceac898.jpg" />
      <img src="https://i.pinimg.com/736x/19/38/27/1938277c8a9d1d275832b2883db2949d.jpg" />
      <img src="https://i.pinimg.com/736x/95/d2/b4/95d2b4187ff9f60c93f8fc1a4362e237.jpg" />
      <img src="https://i.pinimg.com/736x/fb/19/b4/fb19b486fd632a08289e1daa87274e8f.jpg" />
      <img src="https://i.pinimg.com/736x/29/8a/ec/298aeccfec6cdc884b696a65f6e3f1be.jpg" />
      <img src="https://i.pinimg.com/736x/a7/76/05/a7760528b63adbb26d34db1f12129c42.jpg" />
      <img src="https://i.pinimg.com/736x/2c/6f/c2/2c6fc24635769f51922d1021fceac898.jpg" />
      <img src="https://i.pinimg.com/736x/19/38/27/1938277c8a9d1d275832b2883db2949d.jpg" />
      <img src="https://i.pinimg.com/736x/95/d2/b4/95d2b4187ff9f60c93f8fc1a4362e237.jpg" />
      <img src="https://i.pinimg.com/736x/fb/19/b4/fb19b486fd632a08289e1daa87274e8f.jpg" />
    </div>
  </div>
</body>
</html>
